@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    padding: 0;
    margin: 0;
}

.glitch {
    position: relative;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/35/86/b3/3586b309296d5cec634d1fe88bef1085.jpg');
    background-size: cover;
}

.glitch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/35/86/b3/3586b309296d5cec634d1fe88bef1085.jpg');
    background-position: 7px 0;
    opacity: 0.7;
}

.glitch>ul {
    font-size: 5rem;
    color: #127f02;
    -webkit-text-stroke: 2px #92ff6b;
    position: absolute;
    top: auto;
    text-align: center;
    left: 0;
    right: 0;
    font-family: 'Lacquer', system-ui;
}

.glitch>p {
    font-size: 7rem;
    color: #b70000;
    -webkit-text-stroke: 4px #949494;
    position: relative;
    top: 20%;
    text-align: center;
    font-family: 'Lacquer', system-ui;
}

.glitch>form {
    height: 10%;
    width: 100%;
    margin: auto;
    position: relative;
    top: 30%;
    text-align: center;
}

.glitch>form>input {
    height: 100%;
    width: 80%;
    font-size: 40pt;
    font-family: 'Lacquer', system-ui;
    text-align: center;
}
