<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Stranger Lights</title>
</head>

<body>
    <div class="glitch">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <ul>
            <li>
                {{message}}
            </li>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <p>
            ENTER A MESSAGE
        </p>

        <form method="POST">
            <input type="text" name="message" autofocus="autofocus">
            <input type="submit" value="DISPLAY">
        </form>
    </div>
</body>

</html>
